@page
@model FinalCourseworkTemplate.CadetModel
@{
    ViewData["Title"] = "Cadet";
}

<h1>Cadet</h1>

<a asp-area="" asp-page="/CadetCreator">Cadet Creator</a>
<a asp-area="" asp-page="/CadetEdit">Cadet Editor</a>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Age
                </th>
                <th>
                    Year
                </th>
                <th>
                    Form
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Rank
                </th>
                <th>
                    Platoon
                </th>
                <th>
                    Section
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" asp-for="nameFilter" size="17" />
                </td>
                <td>
                    <input type="number" asp-for="ageFilter" size="17" min="-1" />
                </td>
                <td>
                    <input type="number" asp-for="yearFilter" style="width: 6em" min="-1" />
                </td>
                <td>
                    <input type="text" asp-for="formFilter" style="width: 6em" />
                </td>
                <td>
                    <input type="text" asp-for="genderFilter" style="width: 6em" />
                </td>
                <td>
                    <input type="text" asp-for="rankFilter" style="width: 6em" />
                </td>
                <td>
                    <input type="number" asp-for="platoonFilter" style="width: 6em" min="-1" max="3" />
                </td>
                <td>
                    <input type="number" asp-for="sectionFilter" style="width: 6em" min="-1" max="3" />
                </td>
            </tr>
            @for (var i = 0; i < Model.Cadets.Count; i++)
            {
                <tr>
                    <td>
                        @Model.Cadets[i].Surname, @Model.Cadets[i].KnownAs
                    </td>
                    <td>
                        @Model.Cadets[i].Age
                    </td>
                    <td>
                        @Model.Cadets[i].Year
                    </td>
                    <td>
                        @Model.Cadets[i].Form
                    </td>
                    <td>
                        @Model.Cadets[i].Gender
                    </td>
                    <td>
                        @Model.Cadets[i].Rank
                    </td>
                    <td>
                        @Model.Cadets[i].Platoon
                    </td>
                    <td>
                        @Model.Cadets[i].Section
                    </td>
                    <td>
                        <button type="submit" asp-page-handler="Delete"
                                asp-route-DeleId="@Model.Cadets[i].CadetId">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" asp-page-handler="Submit">Submit</button>
</form>
