@page
@model FinalCourseworkTemplate.CadetModel
@{
    ViewData["Title"] = "Cadet";
}

<h1>Cadet</h1>

<a asp-area="" asp-page="/CadetCreator">Cadet Creator</a>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Age
                </th>
                <th>
                    Year
                </th>
                <th>
                    Form
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Rank
                </th>
                <th>
                    Platoon
                </th>
                <th>
                    Section
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" asp-for="nameFilter" size="17" />
                </td>
                <td>
                    <input type="number" asp-for="ageFilter" size="17" min="-1" />
                </td>
                <td>
                    <input type="number" asp-for="yearFilter" size="17" min="-1"/>
                </td>
                <td>
                    <input type="text" asp-for="formFilter" size="17" />
                </td>
                <td>
                    <input type="text" asp-for="genderFilter" size="17" />
                </td>
                <td>
                    <input type="text" asp-for="rankFilter" size="17" />
                </td>
                <td>
                    <input type="number" asp-for="platoonFilter" size="17" min="1" max="3" />
                </td>
                <td>
                    <input type="number" asp-for="sectionFilter" size="17" min="1" max="3" />
                </td>
            </tr>
            @foreach (var cadet in Model.Cadets)
            {
                <tr>
                    <td>
                        @cadet.Surname, @cadet.KnownAs
                    </td>
                    <td>
                        @cadet.Age
                    </td>
                    <td>
                        @cadet.Year
                    </td>
                    <td>
                        @cadet.Form
                    </td>
                    <td>
                        @cadet.Gender
                    </td>
                    <td>
                        @cadet.Rank
                    </td>
                    <td>
                        @cadet.Platoon
                    </td>
                    <td>
                        @cadet.Section
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">Submit</button>
</form>
