@page
@model FinalCourseworkTemplate.CadetCreatorModel
@{
    ViewData["Title"] = "CadetCreator";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>CadetCreator</h1>

<form method="post">
    <table>
        <thead>
            <tr>
                <td>
                    Surname
                </td>
                <td>
                    Known As
                </td>
                <td>
                    Age
                </td>
                <td>
                    School Year
                </td>
                <td>
                    School Form
                </td>
                <td>
                    Gender
                </td>
                <td>
                    Rank
                </td>
                <td>
                    Platoon
                </td>
                <td>
                    Section
                </td>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.CadetViews.Count; i++)
            {
                <tr>
                    <td>
                        <input type="text" asp-for="@Model.CadetViews[i].lastName" size="17" />
                    </td>
                    <td>
                        <input type="text" asp-for="@Model.CadetViews[i].firstName" size="17" />
                    </td>
                    <td>
                        <input type="number" asp-for="@Model.CadetViews[i].yearsOld" style="width: 6em" min="13" max="100" />
                    </td>
                    <td>
                        <input type="number" asp-for="@Model.CadetViews[i].schoolYear" style="width: 6em" min="9" max="13" />
                    </td>
                    <td>
                        <input type="text" asp-for="@Model.CadetViews[i].schoolForm" size="13" />
                    </td>
                    <td>
                        <input type="text" asp-for="@Model.CadetViews[i].cadGender" size="15" />
                    </td>
                    <td>
                        <input type="text" asp-for="@Model.CadetViews[i].cadRank" size="11" />
                    </td>
                    <td>
                        <input type="number" asp-for="@Model.CadetViews[i].cadPlatoon" style="width: 9em" min="1" max="3" />
                    </td>
                    <td>
                        <input type="number" asp-for="@Model.CadetViews[i].cadSection" style="width: 9em" min="1" max="3" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">Submit</button>
</form>

@{
    if (TempData.Peek("tempString") != null)
    {
        <h3>@TempData.Peek("tempString")</h3>
    }
}
