@page
@model FinalCourseworkTemplate.FullViewModel
@{
    ViewData["Title"] = "Full View";
}

<h1>Full View</h1>
@*1. Filter Values
  2. Custom Columns
  3. Button to show specific values such as not awarded but passed
*@
<table class="table">
    <thead>
        <tr>
            <th>
                Cadet Name
            </th>
            <th>
                Cadet Age
            </th>
            <th>
                Cadet Year
            </th>
            <th>
                Cadet Form
            </th>
            <th>
                Cadet Gender
            </th>
            <th>
                Cadet Rank
            </th>
            <th>
                Cadet Platoon
            </th>
            <th>
                Cadet Section
            </th>
            <th>
                Qualification Name
            </th>
            <th>
                Cadet Mark
            </th>
            <th>
                Status
            </th>
            <th>
                Attendance
            </th>
            <th>
                Date of Register
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cadet in Model.Cadets)
        {
        <tr>
            <td>
                @cadet.Surname, @cadet.KnownAs
            </td>
            <td>
                @cadet.Age
            </td>
            <td>
                @cadet.Year
            </td>
            <td>
                @cadet.Form
            </td>
            <td>
                @cadet.Gender
            </td>
            <td>
                @cadet.Rank
            </td>
            <td>
                @cadet.Platoon
            </td>
            <td>
                @cadet.Section
            </td>
            <td>
                @if (cadet.Qualifications.Count > 0)
                {
                    <table class="table">
                        @foreach (var qualification in cadet.Qualifications)
                        {
                            <tr>
                                <td>
                                    @qualification.Qualification.Name
                                </td>
                            </tr>
                        }
                    </table>
                }
            </td>
            <td>
                @if (cadet.Qualifications.Count > 0)
                {
                    <table class="table">
                        @foreach (var qualification in cadet.Qualifications)
                        {
                            <tr>
                                <td>
                                    @qualification.cadMark
                                </td>
                            </tr>
                        }
                    </table>
                }
            </td>
            <td>
                @if (cadet.Qualifications.Count > 0)
                {
                    <table class="table">
                        @foreach (var qualification in cadet.Qualifications)
                        {
                            <tr>
                                <td>
                                    @qualification.Passed
                                </td>
                            </tr>
                        }
                    </table>
                }
            </td>
            <td>
                @if (cadet.Registers.Count > 0)
                {
                    <table class="table">
                        @foreach (var register in cadet.Registers)
                        {
                            <tr>
                                <td>
                                    @register.Register.Attended
                                </td>
                            </tr>
                        }
                    </table>
                }
            </td>
            <td>
                @if (cadet.Registers.Count > 0)
                {
                    <table class="table">
                        @foreach (var register in cadet.Registers)
                        {
                            <tr>
                                <td>
                                    @register.Register.DateOfReg.ToShortDateString()
                                </td>
                            </tr>
                        }
                    </table>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
