@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(nameDis => nameDis.Cadets[0].Surname)
            </th>
            <th>
                <text>Number of Qualifications</text>
            </th>
            <th>
                <text>Qualification Names</text>
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Qualification[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification[0].PassMark)
            </th>
            <th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var cadet in Model.Cadets)
        {
            <tr>
                <td>
                    @cadet.Surname
                </td>
                <td>
                    @cadet.Qualifications.Count
                </td>
                <td>
                    @*@Model.ConcatenameQualifications(cadet)*@     
                    <table class="table-secondary">
                        @foreach (var qualification in cadet.Qualifications)
                        {
                            <tr>
                                <td>@qualification.Qualification.Name</td>
                                <td>@qualification.Qualification.PassMark</td>
                            </tr>
                         }
                        </table>
                </td>
            </tr>
        }
    </tbody>
</table>
