@page
@model FinalCourseworkTemplate.QualAssignModel
@{
    ViewData["Title"] = "QualAssign";
}

<h1>QualAssign</h1>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Cadet Name
                </th>
                <th>
                    Qualification Name
                </th>
                <th>
                    Cadet's Mark
                </th>
                <th>
                    Pass Or Fail
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.QualAssignViews != null)
            {
                @for (var i = 0; i < Model.QualAssignViews.Count; i++)
                {
                    <tr>
                        <td>
                            <select asp-for="@Model.QualAssignViews[i].cadetName" size="1">
                                <option value="none" selected>Select One</option>
                                @foreach (var cadet in Model.Cadets)
                                {
                                    <option value="@cadet.Surname">@cadet.Surname, @cadet.KnownAs</option>
                                }
                            </select>
                            @*<input type="text"
                                   asp-for="@Model.QualAssignViews[i].cadetName"
                                   value="@Model.QualAssignViews[i].cadetName"
                                   readonly="readonly" />*@
                        </td>
                        <td>
                            <select asp-for="@Model.QualAssignViews[i].qualName" size="1">
                                <option value="none" selected>Select One</option>
                                    @foreach(var qual in Model.Qualifications)
                                    {
                                        <option value="@qual.Name">@qual.Name</option>
                                    }
                            </select>
                        </td>
                        <td>
                            <input type="number"
                                   asp-for="@Model.QualAssignViews[i].cadetMark"
                                   value="@Model.QualAssignViews[i].cadetMark" min="0"/>
                        </td>
                        <td>
                            <input type="text"
                                   asp-for="@Model.QualAssignViews[i].passFail"
                                   value="@Model.QualAssignViews[i].passFail" />
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <button type="submit" asp-page-handler="Submit">Submit</button>
</form>
