@page
@model FinalCourseworkTemplate.QualificationModel
@{
    ViewData["Title"] = "Qualification";
}

<h1>Qualification</h1>

<a asp-area="" asp-page="/QualificationCreator">Qualification Creator</a>

<a asp-area="" asp-page="/QualificationEdit">Qualification Editor</a>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Pass Mark
                </th>
                <th>
                    Parent or Child?
                </th>
                <th>
                    Parent
                </th>
                <th>
                    Number of Children
                </th>
                <th>
                    Minimum Children to Pass
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" asp-for="nameFilter" size="17" />
                </td>
                <td>
                    <input type="number" asp-for="passMarkFilter" size="17" min="-1" />
                </td>
                <td>
                    <input type="text" asp-for="parChiFilter" size="17" />
                </td>
                <td>
                    <input type="text" asp-for="parentFilter" size="17" />
                </td>
                <td>
                    <input type="number" asp-for="numChiFilter" size="17" min="-1" />
                </td>
                <td>
                    <input type="number" asp-for="minChiFilter" size="17" min="-1" />
                </td>
            </tr>
            @for (var i = 0; i < Model.Qualifications.Count; i++)
            {
                <tr>
                    <td>
                        @Model.Qualifications[i].Name
                    </td>
                    <td>
                        @Model.Qualifications[i].PassMark
                    </td>
                    <td>
                        @Model.Qualifications[i].ParOrChi
                    </td>
                    <td>
                        @Model.Qualifications[i].Parent
                    </td>
                    <td>
                        @Model.Qualifications[i].NumOfChi
                    </td>
                    <td>
                        @Model.Qualifications[i].MinChiPass
                    </td>
                    <td>
                        <input type="number" asp-for="@Model.Qualifications[i].QualificationId"
                               value="@Model.Qualifications[i].QualificationId" hidden="hidden" />
                    </td>
                    <td>
                        <button type="submit" asp-page-handler="Delete" 
                                asp-route-DeleId="@Model.Qualifications[i].QualificationId">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" asp-page-handler="Submit">Submit</button>
</form>