@page
@model FinalCourseworkTemplate.QualificationEditModel
@{
    ViewData["Title"] = "QualificationEdit";
}

<h1>QualificationEdit</h1>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Pass Mark
                </th>
                <th>
                    Parent or Child?
                </th>
                <th>
                    Parent
                </th>
                <th>
                    Number of Children
                </th>
                <th>
                    Minimum Children to Pass
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" asp-for="nameFilter" size="17" />
                </td>
                <td>
                    <input type="number" asp-for="passMarkFilter" size="17" min="-1" />
                </td>
                <td>
                    <input type="text" asp-for="parChiFilter" size="17" />
                </td>
                <td>
                    <input type="text" asp-for="parentFilter" size="17" />
                </td>
                <td>
                    <input type="number" asp-for="numChiFilter" size="17" min="-1" />
                </td>
                <td>
                    <input type="number" asp-for="minChiFilter" size="17" min="-1" />
                </td>
            </tr>
            @for (var i = 0; i < Model.Qualifications.Count; i++)
            {
                <tr>
                    <td>
                        <input type="text" asp-for="@Model.Qualifications[i].Name"
                               value="@Model.Qualifications[i].Name" size="17" />
                    </td>
                    <td>
                        <input type="number" asp-for="@Model.Qualifications[i].PassMark"
                               value="@Model.Qualifications[i].PassMark" size="17" min="0" />
                    </td>
                    <td>
                        <input type="text" asp-for="@Model.Qualifications[i].ParOrChi"
                               value="@Model.Qualifications[i].ParOrChi" size="17" />
                    </td>
                    <td>
                        <input type="text" asp-for="@Model.Qualifications[i].Parent"
                               value="@Model.Qualifications[i].Parent" size="17" />
                    </td>
                    <td>
                        <input type="number" asp-for="@Model.Qualifications[i].NumOfChi"
                               value="@Model.Qualifications[i].NumOfChi" size="17" min="0" />
                    </td>
                    <td>
                        <input type="number" asp-for="@Model.Qualifications[i].MinChiPass"
                               value="@Model.Qualifications[i].MinChiPass" size="17" min="0" />
                    </td>
                    <td>
                        <input type="number" asp-for="@Model.Qualifications[i].QualificationId"
                               value="@Model.Qualifications[i].QualificationId" hidden="hidden" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" asp-page-handler="Filter">Filter</button>
    <button type="submit" asp-page-handler="Submit">Submit</button>
</form>
