@page
@model FinalCourseworkTemplate.Pages.RegisterEditModel
@{
    ViewData["Title"] = "RegisterEdit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Take a Register</h1>


@*show table with checkboxes, allow submit button*@
<form method="post">
    Register Group:
    <select asp-for="regGroup" size="1">
        <option value="none">All</option>
        <option value="years">Year</option>
        <option value="platoons">Platoon</option>
    </select>
    <input type="number" asp-for="regGroupVal" size="5" min="0" max="13" />
    <button type="submit" asp-page-handler="Filter">Filter</button>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Attendance
                </th>
                <th>
                    Date of Registration
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.RegisterViews != null)
            {
                @for (var i = 0; i < Model.RegisterViews.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="text"
                                   asp-for="@Model.RegisterViews[i].FullName"
                                   value="@Model.RegisterViews[i].FullName"
                                   readonly="readonly" />
                        </td>
                        <td>
                            @*@cadet.Attendance*@
                            Attended? <input type="checkbox" asp-for="@Model.RegisterViews[i].Attendance" 
                                             value="@Model.RegisterViews[i].Attendance">
                        </td>
                        <td>
                            <input type="text"
                                   asp-for="@Model.RegisterViews[i].RegDate"
                                   value="@Model.RegisterViews[i].RegDate"
                                   readonly="readonly" />
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <button type="submit" asp-page-handler="Submit">Submit</button>
</form>

@{
    if (TempData.Peek("returnedString") != null)
    {
        <h3>Message Recieved: @TempData.Peek("returnedString")</h3>
    }
}
